#manageAssetsTable{
    margin-left: 20px;
     border-collapse: collapse;
}

th, td {
  color: #343C7A;
}

#manageAssetsTable_length{
    margin-left: 20px;
    color: #343C7A;
}

#manageAssetsTable_filter label{
    margin-right: 20px;
    color: #343C7A;
}

.page-heading {
    color: #343C7A;
}

.dataTables_info{
    margin-left: 20px;
    color: #343C7A;
}

h1{
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

.page-heading h1{
    text-align: left;
}

.card{
    width: 500px;
    text-align: center;
    position: absolute;
    left: 37%;
    margin-bottom: 30px;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

