{% include 'base/base_auth.html' %}
<h1>More about {{rates.id}}</h1>
<img src="{{ url_for('static', path='/assets/logo.svg') }}" alt="Logo" width="300" height="300">
<div class="card">
  <div class="card-header">
    <h2>{{rates.id}}</h2>
<p>{{rates.symbol}}</p>
  </div>
  <div class="card-body">
	 <p class="card-text">Currency symbol: {{ rates.currencySymbol }}</p>
<p class="card-text">Rates type: {{ rates.type }}</p>
<p class="card-text">Rate: {{ rates.rateUsd}} $</p>


    <div class="card-body mx-auto">
                    <a type="button" href="javascript:history.back()"
                       class="btn btn-sm btn-danger text-white"> Go Back </a>
                </div>
  </div>
</div>