{% include 'base/base_auth.html' %}
    <div class="col py-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="page-heading"><h1><i class="bi bi-list"></i>Rates List</h1></div>
            </div>
            <div class="panel-body">
                <div class="div-action pull pull-right" style="padding-bottom:20px;">
                </div>
                <br>
                <div class="remove-messages"></div>
                <table class="table" id="manageRatesTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Symbol</th>
                        <th>Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for rate in rates %}
                        <tr>
                            <td>{{ rate.id }}</td>
                            <td>{{ rate.symbol }}</td>
                            <td>
                                <button onclick="window.location.href='/rates/{{rate.id}}'"
                        type="button" class="btn btn-primary">Show more</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- check if have permissions -->

    </div>