{% include 'base/base_auth.html' %}

<h1>Price history of {{asset.id}} (24Hr)</h1>
<img src="{{ url_for('static', path='/assets/logo.svg') }}" alt="Logo" width="300" height="300">
<div class="card">
  <div class="card-header">
    <h2>{{asset.id}}</h2>
<p>{{asset.symbol}}</p>
  </div>

  <div class="card-body">
    {% for asset_history in assets_history %}
      <p class="card-text">Date: {{ asset_history.date.split("T")[0] }}</p>
	 <p class="card-text">Price: {{ asset_history.priceUsd }}</p>
    <hr>
    {% endfor %}
    <div class="card-body mx-auto">
                    <a type="button" href="javascript:history.back()"
                       class="btn btn-sm btn-info text-white"> Go Back </a>
                </div>
  </div>
</div>