{% include 'base/base_auth.html' %}
<h1>More about {{assets.name}}</h1>
<div class="card">
  <div class="card-header">
    <h2>{{assets.id}}</h2>
<p>{{assets.symbol}}</p>
  </div>
  <div class="card-body">
    <p class="card-title">Title: {{assets.name}}</p>
	 <p class="card-text">Rank: {{ assets.rank }}</p>
         <p class="card-text">Supple: {{ assets.supply }}</p>
          <p class="card-text"> Price: {{ assets.priceUsd }} $</p>
          <p class="card-text">Change by 24 Hr {{ assets.changePercent24Hr|float|round(2) }} %</p>
    <div class="card-body mx-auto">
                    <a type="button" href="javascript:history.back()"
                       class="btn btn-sm btn-info text-white"> Go Back </a>
                </div>
  </div>
</div>