{% include 'base/base_auth.html' %}
<h1>More about {{exchanges.name}}</h1>
<img src="{{ url_for('static', path='/assets/logo.svg') }}" alt="Logo" width="300" height="300">
<div class="card">
  <div class="card-header">
    <h2>{{exchanges.name}}</h2>
  </div>
  <div class="card-body">
	 <p class="card-text">Rank: {{ exchanges.rank }}</p>
<p class="card-text">Total volume (in percent): {{ exchanges.percentTotalVolume|float|round(5) }} %</p>
<p class="card-text">Volume (in USD) {{ exchanges.volumeUsd }} $</p>
<p class="card-text">Trading pairs: {{ exchanges.tradingPairs }}</p>
      <p class="card-text">Link: <a href="{{ exchanges.exchangeUrl }}" target="_blank">{{ exchanges.exchangeUrl }}</a></p>
<p class="card-text">{{ exchanges.updated }}</p>

    <div class="card-body mx-auto">
                    <a type="button" href="javascript:history.back()"
                       class="btn btn-sm btn-danger text-white"> Go Back </a>
                </div>
  </div>
</div>