{% include 'base/base_auth.html' %}
<div class="card">
  <div class="card-header">
    <h2>{{exchanges.name}}</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{exchanges.name}}</h5>
	 <p class="card-text">{{ exchanges.rank }}</p>
<p class="card-text">{{ exchanges.percentTotalVolume }}</p>
<p class="card-text">{{ exchanges.volumeUsd }}</p>
<p class="card-text">{{ exchanges.tradingPairs }}</p>
<p class="card-text">{{ exchanges.exchangeUrl }}</p>
<p class="card-text">{{ exchanges.updated }}</p>

    <a href="#!" class="btn btn-danger">Go Back</a>
  </div>
</div>