{% include 'base/base_auth.html' %}
<h1>More about {{exchanges.name}}</h1>
<div class="card">
  <div class="card-header">
    <h2>{{exchanges.name}}</h2>
  </div>
  <div class="card-body">
	 <p class="card-text">{{ exchanges.rank }}</p>
<p class="card-text">{{ exchanges.percentTotalVolume }}</p>
<p class="card-text">{{ exchanges.volumeUsd }}</p>
<p class="card-text">{{ exchanges.tradingPairs }}</p>
    <a href="{{ exchanges.exchangeUrl }}" target="_blank">{{ exchanges.exchangeUrl }}</a>
<p class="card-text">{{ exchanges.updated }}</p>

    <div class="card-body mx-auto">
                    <a type="button" href="javascript:history.back()"
                       class="btn btn-sm btn-info text-white"> Go Back </a>
                </div>
  </div>
</div>