<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"/>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
     <script src="{{ url_for('static', path='/js/assetsDataTable.js') }}"></script>
<script src="{{ url_for('static', path='/js/exchangesDataTable.js') }}"></script>
<script src="{{ url_for('static', path='/js/marketsDataTable.js') }}"></script>
<script src="{{ url_for('static', path='/js/ratesDataTable.js') }}"></script>

    <title>Crypto App</title>

</head>
<body>

<nav>
        <ul>
            <li><a href="{{ url_for('get_all_assets') }}">Assets</a></li>
            <li><a href="{{ url_for('get_all_exchanges') }}">Exchanges</a></li>
            <li><a href="{{ url_for('get_all_markets') }}">Markets</a></li>
            <li><a href="{{ url_for('get_all_rates') }}">Rates</a></li>
            <li><p>Welcome {{user.username}}</p></li>
        </ul>
    </nav>


{% block content %}

{% endblock %}


</body>
</html>